@page "/logout"
@using SubbyNetwork.Services
@inject NavigationManager navigationManager
@inject CustomAuthenticationStateProvider customAuthenticationStateProvider

<h3>Logout</h3>

<div class="loader loader-bouncing"><span>Redirecting...</span></div>
@code{

    protected override async Task OnInitializedAsync()
    {
        await customAuthenticationStateProvider.Logout();
        navigationManager.NavigateTo("/Login");
    }
}