@page "/"

<div class="form-group">
    <a id="home" asp-controller="Home" asp-action="Index" class="btn btn-danger">Reset</a>
</div>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
