@using Subby.Blazor.Maui.Models
@model             SubscriptionViewModel
@{
    ViewData["Title"] = "Member Benefits";
    var header = new Header
    {
        Title = "Member Benefits",
        DisplayReturn = true
    };
}
<partial name="Partials/_PartialHeader" model="@header"/>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-4">
            <h6 class="text-center">Upgrade for <strong>@await Component.InvokeAsync("PremiumPrice")</strong> a month Or <strong>@await Component.InvokeAsync("AnnualPrice")</strong> for the year to access our partner deals</h6>
            <div class="row">
                @foreach (var item in Model.Benefits)
                {
                    <div class="col-6">
                        <a href="/benefits/@item.Slug" class="text-dark">
                            <div class="box benefit-deals">
                                <h6>@item.Title</h6>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center mt-4">
            @if (!Model.IsActive)
            {
                <button type="submit" class="btn btn-green btn-block mb-3" data-toggle="modal" data-target="#payment-modal">Get Premium for @await Component.InvokeAsync("PremiumPrice")</button>
            }
        </div>
    </div>
</div>
<partial name="Partials/_PartialBottomStack"/>
