@using Subby.Web.Models
@{
    ViewData["Title"] = "Terms of use";
    var header = new Header
    {
        Title = "Terms of use",
        DisplayReturn = true
    };
}
<partial name="Partials/_PartialHeader" model="@header" />
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-4 legal-notes">
            <h1 class="subtitle">TERMS OF USE</h1>
            <p>PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY BEFORE USING THIS APP</p>
            <h5 class="mt-2">What's in these terms?</h5>
            <p>These terms tell you the rules for using our website subbynetwork.com and mobile application (our service).</p>
            
            <h5 class="mt-2">By using our service you accept these terms</h5>
            <p>By using our service, you confirm that you accept these terms of use and that you agree to comply with them.</p>
            <p><i>If you do not agree to these terms, you must not use our service.</i></p>
            
            <h5 class="mt-2">There are other terms that may apply to you</h5>
            <p>These terms of use refer to the following additional terms, which also apply to your use of our service:</p>
            <p>Our Privacy Notice, which sets out how we may use your personal data.</p>
            <p>Our Cookie Policy, which sets out information about the cookies on our service. If you purchase goods/subscription from our service, our terms and conditions of sale will apply to the sales.</p>

            <h5>We may make changes to these terms</h5>
            <p>We amend these terms from time to time. Every time you wish to use our service, please check these terms to ensure you understand the terms that apply at that time. </p>

            <h5>We may make changes to our service</h5>
            <p>We may update and change our service from time to time to reflect changes to our products, our users' needs and our business priorities. </p>

            <h5>We may suspend or withdraw our service</h5>
            <p>We do not guarantee that our service, or any content on it, will always be available or be uninterrupted. We may suspend or withdraw or restrict the availability of all or any part of our service for business and operational reasons. We will try to give you reasonable notice of any suspension or withdrawal.</p>
            <p>You are also responsible for ensuring that anyone who accesses our service through your internet connection are aware of these terms of use and other applicable terms and conditions, and that they comply with them.</p>

            <h5>You must keep your account details safe</h5>
            <p>If you choose, or you are provided with, a username, password or any other piece of information as part of our security procedures, you must treat such information as confidential. You must not disclose it to any third party.</p>
            <p>We have the right to disable any username or password, whether chosen by you or allocated by us, at any time, if in our reasonable opinion you have failed to comply with any of the provisions of these terms of use.</p>
            <p>If you know or suspect that anyone other than you knows your username or password, you must promptly notify us.</p>

            <h5>We are not responsible for viruses and you must not introduce them</h5>
            <p>We do not guarantee that our service will be secure or free from bugs or viruses.</p>
            <p>You are responsible for configuring your information technology, computer programmes and platform to access our service. You should use your own virus protection software.</p>
            <p>You must not misuse our site by knowingly introducing viruses, trojans, worms, logic bombs or other material that is malicious or technologically harmful. You must not attempt to gain unauthorised access to our site, the server on which our site is stored or any server, computer or database connected to our site. You must not attack our site via a denial-of-service attack or a distributed denial-of service attack. By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use our site will cease immediately.</p>
            
            @*<h5>Auto-renewable subscription</h5>
            <p>1 month (£9.99) or £99.00 per year.</p>
            <p>Your subscription will be charged to your iTunes account at confirmation of purchase and will automatically renew (at the duration selected) unless auto-renew is turned off at least 24 hours before the end of the current period.</p>
            <p>Current subscription may not be cancelled during the active subscription period; however, you can manage your subscription and/or turn off auto-renewal by visiting your iTunes Account Settings after purchase.</p>
            <p>Privacy policy: <a href="https://www.subbynetwork.com/disclaimer" target="_blank">https://www.subbynetwork.com/disclaimer</a></p>*@
        </div>
    </div>
</div>
<partial name="Partials/_PartialBottomStack" />