
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  .page-link {
    color: $primary;
    font-weight: 400;

    a {
      color: $primary;

      &:hover {
        color: $primary;
      }
    }
  }

  .page-item {
    &.active {
      a {
        background-color: $primary;
        border-color: $primary;
      }
    }
  }
}