@using Subby.Web.Models
@model Subby.Core.Models.Job.NewJobViewModel
@{
    ViewData["Title"] = "Job Created";
    var header = new Header
    {
        Title = "Job Created",
        DisplayReturn = true,
        Url = @Url.Action("Index", "Jobs")
    };
}
<partial name="Partials/_PartialHeader" model="@header"/>
<div class="container">
    <div class="centered-div text-center">
        <div class="circle-loader load-complete">
            <div class="check-mark draw d-block"></div>
        </div>
        <h1 class="subtitle">Congratulations!</h1>
        <p>Your application has been submitted succesfully</p>
        <a asp-controller="Jobs" asp-action="Index">

            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M5.854 4.646a.5.5 0 0 1 0 .708L3.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"/>
                <path fill-rule="evenodd" d="M2.5 8a.5.5 0 0 1 .5-.5h10.5a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg> Return to the result list
        </a>
    </div>
</div>
<partial name="Partials/_PartialBottomStack"/>