<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-6 offset-1">
                <div class="greetings mb-4" style="font-size:22px">
                    <img src="~/images/icons/logo.png" alt="Sustainability Yard" class="logo"/> 
                    <span>&nbsp;<strong>Sustainability</strong>&nbsp;Yard</span>
                </div>
            </div>
        </div>
    </div>
</div>