@page "/"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h3>Welcome to</h3>
<h2>Sustainability Yard</h2>
<br />
<br />
<p>
    <b>ABOUT US </b>
    <br />
    <br />
<p>
    You can buy, sell & give away your excess building materials on the Sustainability Yard App.
    Sustainability Yard has been built to introduce a secondary materials market in to the construction industry.
    We help promote the circular economy of materials rather than letting them find their way to landfill.
    Our App is free to download.
</p>
<br />
    We keep things really simple.
<br />
<br />
<b>Enquiries</b>
<br />
    nigel@subbynetwork.com
<br />
    nigel@sustainabilitiyyard.com
<br />
<br />
<b>Contact us</b>
<br />
    (+44) 161 818 2323
</p>