@using Subby.Web.New.Models
@using Subby.Web.New.Models.ConfigurationViewModels
@model             ConfigurationViewModel
@{
    ViewData["Title"] = "Edit Configuration";
    var header = new Header
    {
        Title = "Update Configuration",
        DisplayReturn = true,
        Url = Url.Action("Index", "Configurations")
    };
}
<partial name="Partials/_PartialHeader" model="@header"/>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-4">
            <form method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="@Model.Id" value="@Model.Id"/>
                <div class="form-group">
                    <label asp-for="Value" class="form-label"></label>
                    <input asp-for="Value" class="form-control" placeholder=""/>
                    <span asp-validation-for="Value" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-md-10 offset-md-1 text-center">
                        <button type="submit" id="apply-job" class="btn btn-primary btn-block mb-3">Submit</button>
                                                <div class="clearfix"></div>
                                                <a asp-action="Index" class="text-muted">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>